@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #246bad;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

$imageHeight: 685px;
$imageWidth: 455px;

#background-img{
    background-image: url("../imgs/back.jpg");
    background-size: contain;
}

#background-overlay{
    background-color: rgba(71, 170, 245,0.6);
}

#header-title{
    padding: 40px 70px;
    h1,h3{
        margin: 0;
    }
}

#filters-panel{
    background-color: #ffffff;
    margin: 0 auto 50px auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 15% 75%;
}

.filters-labels{
    text-align: center;
}

#genre-filters-list{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: left;
    column-gap: 50px;
    row-gap: 10px;
    li{
        display: inline-block;
        text-decoration: none;
    }
}

#pick-panel-container{
    padding-bottom: 150px;
}

#pick-panel{
    display: grid;
    grid-template-columns: $imageWidth auto;
    grid-template-rows: 40% 50% 10%;
    box-shadow: 5px 5px 10px #000000;
    width: 65vw;
    height: $imageHeight;
    margin: 0 auto;
    background-color: #6e6e6e;
}

#poster-img{
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    height: $imageHeight;
    width: $imageWidth;
}

#title-div{
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    background-color: #fff;

    #movie-title{
        font-size: 2em;
    }
}

#overview-div {
    grid-column: 2;
    grid-row: 2;
    color: #ffffff;
}

#options-div {
    grid-column: 2;
    grid-row: 3;
}

#title-div, #overview-div, #options-div{
    padding: 20px;
}

#findMovieBtn{
    display: block;
    width: 140px;
    margin: 0 auto 50px auto;
}

.custom-btn{
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.custom-btn:visited{
    color: #ffffff;
}

.positive-btn{
    background-color: forestgreen;
    color: #ffffff;
    transition: box-shadow 0.2s ease-in-out;
    border-right: 2px solid darkgreen;
    border-bottom: 2px solid darkgreen;
}

.positive-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 7px lawngreen;
}

.positive-btn:active{
    box-shadow: 0 0 17px lawngreen;
}

#movie-rating{
    display: inline;
    padding: 10px;
    border-radius: 25px;
}

.title-details{
    margin: 0;
}

#vertical-layout{
    display: none;
}

@media only screen and (max-width: 1500px) {
    #title-div{
        #movie-title {
            font-size: 1.5em;
        }
    }
}

@media only screen and (max-width: 1300px) {
    #pick-panel{
        display: grid;
        grid-template-columns: 365px auto;
        grid-template-rows: 40% 50% 10%;
        box-shadow: 5px 5px 10px #000000;
        width: 80vw;
        height: 550px;
        margin: 0 auto;
        background-color: #6e6e6e;
    }

    #poster-img{
        grid-column: 1/span 1;
        grid-row: 1/span 3;
        height: 550px;
        width: 365px;
    }

    #overview{
        font-size: 0.7em;
    }

    #options-div{
        padding: 0;
    }

    #movie-rating{
        margin: 16px;
    }
}

@media only screen and (max-width: 1150px) {
        #genre-filters-list{
            grid-template-columns: auto auto auto auto;
        }
}

@media only screen and (max-width: 900px) {
    #vertical-layout{
        display: block;
    }

    #pick-panel-container{
        display: none;
    }
}